.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content p {
  margin: 0;
  padding: 0;
}

.custom-popup .leaflet-popup-content {
  margin: 12px;
  margin-bottom: 6px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.873);
  overflow: hidden;
}

.custom-popup .leaflet-popup-close-button {
  display: none;
}

.custom-bar {
  margin-left: -20px;
  margin-right: -20px;
}
