.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content p {
  margin: 0;
  padding: 0;
}

.leaflet-popup-content {
  /* margin: 24pxpx; */
}

.custom-popup .leaflet-popup-content {
  /* margin: 0; */
}

.custom-popup .leaflet-popup-content-wrapper {
  max-width: none;
}

.custom-popup .leaflet-popup-tip {
  display: none;
}
